
 
    <footer class="full" id="main_footer">
    	<div class="wrapper">
    		<p>lorem</p>
    	</div>
   	</footer>
    <script type='text/javascript' src='javascripts/jquery-1.10.2.min.js'></script>
    <script type='text/javascript' src='javascripts/d3.v3.js'></script>
    <script type='text/javascript' src='javascripts/rickshaw.min.js'></script>
  </body>
</html>