<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/jquery-ui-1.10.3.custom.css'>
    <link rel='stylesheet' href="/stylesheets/rickshaw.min.css">
    <link rel='stylesheet' href='/stylesheets/style.min.css'>
  </head>
  <body>
