<%= include header.ejs %>

<div id="main_header">
	<header class="wrapper">
		<img src="images/temp_logo.png" height="40" width="auto" style="float:left">
		<h1><%= title %></h1>
	</header>
</div>
<div id="main_nav">
	<nav>
	</nav>
</div>

<div class="main_content">
	
	<div id="stats" class="wrapper"></div>

	<div id="graph_region">
		<div id="palette" class="showing">
			<div id="controls">
				<h3>Lorem</h3>
				<!--not at all formatted-->
					<select>
					  <option value="#">lorem</option>
					  <option value="#">lorem</option>
					  <option value="#">lorem</option>
					  <option value="#">lorem</option>
					  <option value="#">lorem</option>
					  <option value="#">lorem</option>
					</select> 
					<br><br>
					<input type="checkbox"></input> Lorem Ipsum<br>
					<input type="checkbox"></input> Lorem<br>
					<input type="checkbox"></input> Lorem Ipsum<br>
					<input type="checkbox"></input> Lorem<br>
					<input type="checkbox"></input> Lorem Ipsum<br>
					<input type="checkbox"></input> Lorem Ipsum<br>
					<br><br>
					<input type="submit"></input>
				</form>
			</div>
			<div id="palette_toggle">
				<div id="palette_control" class="icon-chevron-left icon-large"></div>
			</div>
		</div>
	</div>

	<div id="date_container">
		<p class="">Date Range</p>
		<div id="date_slider"></div>
		<div id="date_picker1"></div>
	</div>
</div>

<div class="main_content">
	<div class="wrapper">
		<div class="three1">
			<h3>Lorem</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="three2">
			<h3>Lorem</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="three3">
			<h3>Lorem</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>



<%= include footer.ejs %>
