<%= include header.ejs %>

<div id="main_header">
	<header class="wrapper">
		<img src="images/temp_logo.png" height="40" width="auto" style="float:left">
		<h1><%= title %></h1>
	</header>
</div>
<div id="main_nav">
	<nav>
	</nav>
</div>

<div id="main_content">
	<div id="palette" class="showing">
		<div id="controls"></div>
		<div id="palette_toggle"></div>
	</div>
	<div id="graph"></div>
</div>



<%= include footer.ejs %>
