@import "fontAwesome/font-awesome.less";
@import "3L.less";

.normalize();
.reset();
.h5bp();

/*==VARS==========================================================*/

//colors
@fontColor: #444;
@highlight: #ea48ef;
@lowlight: #233;
@background: #fff;
@font: "Open Sans","Helvetica Neue",Helvetica, Arial, sans-serif;

//Height and Size
@scale: 75%;
@graphHeight: 550px;

//breakpoints
@tinyBreak: 320px;
@medBreak: 320px;
@largeBreak: 320px;
@jumboBreak: 320px;


/*==MIXINS==========================================================*/

.full(@bg) {
	width:100%;
	background:@bg;
}

.verticalCenterChild() {
	/* Internet Explorer 10 */
	display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;
	/* Firefox */
	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;
	/* Safari, Opera, and Chrome */
	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	/* W3C */
	display:box;
	box-pack:center;
	box-align:center;
}

/*==COMPONTENTS==========================================================*/

body {
	font: @scale @font;
	color: @fontColor;
}


.wrapper {
	width:1024px;
	margin:0 auto;
	clear:both;
}

.center {
	text-align:center;
}

h2 {
	font-size:24px;
	margin:20px 0;
	font-weight: 300;
}

h3 {
	font-size:24px;
	margin:18px 0;
	font-weight: 300;
}

//HEADER

#main_header {
	.full(@background);

}

#main_header header {
	.clearfix();
}

#main_header header h1 {
	vertical-align: bottom;
	font-size:20px;
	margin: 6px 0 0 40px;
}

#main_nav {
	.full(@lowlight);
	height:32px;
	.box-shadow(0px 5px 10px #ccc);
	position: relative;
	z-index: 999;
}

.main_content {
	.full(@background);
	.clearfix();
}

#main_footer {
	.full(@lowlight);
	color: @background;
	padding:220px 0 40px 0;
	.box-shadow(0px 0px 10px #ccc);
	position: relative;
	z-index: 999;
}

#main_footer h2 {
	font-size:16px;
	float:right;
	font-weight: 300;
	margin:0;
}

/*==PALETTE/GRAPH==========================================================*/

#graph_region {
	height:@graphHeight;
	margin: 30px 0 0 0;
	border-top:4px solid #d9d9d9;
	border-bottom:4px solid #d9d9d9;
	background:url(../images/fake_graph.png)  center bottom;
	background-size: cover;
	.clearfix();
}
#palette {
	//position: absolute;
	z-index: 000;
	position: absolute;
	.clearfix();
}

#controls {
	width:200px;
	height:@graphHeight;
	float:left;
	background: url(../images/palette_back.png) repeat-y;
	.box-sizing(border-box);
	padding:0 20px;
}

#palette_toggle {
	width:28px;
	height:@graphHeight;
	float:left;
	background-image:url(../images/palette_toggle.png);
	background-position: 0 0;
	border-left:2px solid #d9d9d9;
	cursor: pointer;
	.verticalCenterChild();
} 

#palette_toggle:hover {
	background-image:url(../images/palette_toggle.png);
	background-position: 28px 0;
}

#palette_control {
	display: block;
	text-align: center;
}

/*==DATE PICKER==========================================================*/
#date_container {
	.full(#eaeaea);
	width:96%;
	padding:5px 2%;
	clear:both;
}

#date_slider {
	margin:10px auto;
}
/*==GRIDS==========================================================*/

.three1, .three2, .three3 {
	height:200px;
	width:32%;
	margin: 0 0 50px 0;
	float:left;
}

.three1 {
	margin-right:2%;
}

.three3 {
	margin-left:2%;
}



/*==SIZINGS==========================================================*/
/*
@media screen and (min-width: @tinyBreak) {
  
}

@media screen and (min-width: @medBreak) {
  
}

@media screen and (min-width: @largeBreak) {
  
}

@media screen and (min-width: @jumboBreak) {
  
}
*/